.product-main-image{
	border: 1px solid red;
}
.product-image-item-delete:hover{
	cursor: pointer;
	font-weight: bolder;
}
.product-image-item-delete{
	letter-spacing: 0.8px;
	margin: 0 auto;
	font-size: 11px;
}

.top-header{
	background-color: black;
}
.top-header a, .top-header form button{
	color: white;
}
.top-header-logo{
	padding-top: 10px;
}

.separator{
	margin-top:20px;
}
.sidebar-links li{
	list-style: none;	
}

.sidebar-links li a{
	color: black;
	letter-spacing: 0.8px;
	padding: 20px 10px 10px 10px;
}
.mobile-layout-left-sidebar{
	margin-bottom: 10px;
}
.mobile-layout-left-sidebar ul{
	padding: 0;
	margin: 0;
}
.mobile-layout-left-sidebar ul li{
	list-style: none;
	float: left;	
}
.mobile-layout-left-sidebar ul li a{
	color: black;
}

.mobile-layout-left-sidebar ul li span{
	padding: 5px;
	letter-spacing: 0.8px;
}